@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'MinecraftiaRegular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #191919;
}

.nav-btn {
  @apply bg-[#13d3ec] p-4 rounded-md border-b-8 border-b-[#006b8b] hover:translate-y-[2px] hover:border-b-4 hover:bg-[#c1e9f5] active:border-b-0 uppercase font-bold
}

.mint-btn {
  @apply bg-[#13d3ec] px-14 py-5 rounded-md border-b-8 border-b-[#006b8b] hover:translate-y-[2px] hover:border-b-4 hover:bg-[#c1e9f5] active:border-b-0 font-bold text-4xl
}

.mint-page-btn {
  @apply bg-[#13d3ec] px-8 py-3 rounded-md border-b-8 border-b-[#006b8b]  hover:bg-[#c1e9f5] font-bold text-2xl mx-auto text-black
}

.mint-page-btn-nmb {
  @apply bg-[#13d3ec] px-8 py-3 rounded-md border-b-8 border-b-[#006b8b]  hover:bg-[#c1e9f5] font-bold text-2xl ml-2 text-black
}

.cards {
  transform: rotate(-45deg) rotate3d(1, 1, 0, -60deg);
}

.card {
  @apply opacity-50 hover:rotate-45 transition-all duration-300 hover:opacity-100 hover:-translate-y-14 hover:translate-x-16
}

.roadmap {
  @apply brightness-125 hover:-translate-y-2 transition duration-200 w-[325px] mx-auto mt-4
}

.swing {
  animation :swing 1s ease-in-out infinite alternate;
  transform-origin: center -20px;
}

.swing-before {
  content: "";
  position: absolute;
  background: #e4d7d7;
  border-radius: 50% 50%;
  height: 5px;
  left: 50.5%;
  top: -16px;
  box-sizing: border-box;
  width: 5px;
}

.swing-after {
  content: "";
  position: absolute;
  border: 1px solid #999;
  border-bottom: none;
  border-right: none;
  height: 20px;
  left: 48%;
  top: -10px;
  transform: rotate(45deg);
  width: 20px;
  z-index: 0;
}

hr {
  height: 1px;
  margin: 1rem;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: .25;
}

/* Carrousel */
@keyframes scroll-reverse {
  100% {
    transform: translateX(0);
 }
  0% {
    transform: translateX(calc(var(--slide-width) * var(--no-of-slides)* -1));
 }
}


:root {
  --no-of-slides: 7;
  --slide-width: 200px;
  --slide-height: 700px;
  --iteration-time: 10s;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(var(--slide-width) * var(--no-of-slides) * -1));
  }
}

@keyframes scrollReverse {
  100% {
    transform: translateX(0);
  }
  0% {
    transform: translateX(calc(var(--slide-width) * var(--no-of-slides) * -1));
  }
}

.carousel__wrapper {
  display: flex;
  align-items: center;
  width: 60%;
  overflow: hidden;
  margin: 0 auto;
}

.carousel__wrapper::before, .carousel__wrapper::after  {
  background: linear-gradient(to right, rgb(25, 25, 25) 0%, rgba(255, 253, 253, 0) 100%);
  content: "";
  height: 650px;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.carousel__wrapper::after {
  right: 20%;
  top: 16%;
  transform: rotateZ(180deg);
}

.carousel {
  overflow: hidden;
  width: calc(2 * var(--no-of-slides));
}

.carousel__slide .carousel__image:nth-child(1) {
  animation: scroll var(--iteration-time) linear infinite;
  display: flex;
  flex-direction: column;
  width: var(--slide-width);
  box-sizing: border-box;
}

.carousel__slide .carousel__image:nth-child(3) {
  animation: scroll var(--iteration-time) linear infinite;
  display: flex;
  flex-direction: column;
  width: var(--slide-width);
  box-sizing: border-box;
}

.carousel__slide .carousel__image:nth-child(2) {
  animation: scrollReverse var(--iteration-time) linear infinite;
  display: flex;
  flex-direction: column;
  width: var(--slide-width);
  box-sizing: border-box;
}

.carousel__image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 200px;
}

@media screen and (max-width: 1000px) {
  .carousel__wrapper {
    width: 90%;
  }
  .carousel__wrapper::after {
    right: 4%;
    top: 17%;
    transform: rotateZ(180deg);
  }
  .carousel__wrapper::before {
    left: 4%;
  }
}

@media screen and (min-width: 1000px) {
  .carousel__wrapper::before {
    left: 20%;
  }
}